body{
    background-color: lightgray;
}

.main-background {
background-color: black;
max-width: 100%;
padding: 50px;

}

aside{
    padding: 10px;
    background-color: lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.My-Logo{
    color: aqua;
}

#Logo-text{
    font-size: 15px;
    color: grey;
}

ul{
    margin: 0;
    padding: 0;
}

.Main-Nav li{
    display: inline-block;
}
.Main-Nav a{
    list-style-type: none;
    display: block;
    background-color: #696969;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px;
    color: white;
    text-decoration: none;
    transition: 0.3s;   
    text-align: center;
}
.Main-Nav li :hover{
    background-color: lightgray;
}



.Nav-Bar{
    text-decoration: none;

}

.container{
    background-color: white;
    border-radius: 20px;
}

.links{
    list-style-type: none;
}

.main-section{
    /*margin-top: 10px;*/
}

.btn{
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-image: none;
    border: 0;
    border-radius: 0;
}

.btn-primary{
    background-color: black;
    color: white;
}

.btn-primary:hover,
.open .dropdown-toggle.btn-primary{
    background-color: lightgray;
    color: white;
}

.top-table-row{
    background-color: black;
    color: white;
}

.table-row{
    background-color: lightgray;
    color: black;
}
.red-heading{
    color: red;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ordered-list{
    margin-left: 40px;
}

.latest-news{
    margin: 0;
}

.Nav-Bar container{
    background-color: none !important;
}

.usefull-links{
    list-style-type: none;
    margin-left: 40px;
}
